body {
	font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
}

h1 {
	display: inline;
}

#age {
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: white;
	text-align: center;
	margin-top: 16.5%;
	vertical-align: top;
	color: #000000;
	z-index: 1;
}

#myage {
	font-size: 12rem;
	letter-spacing: -18px;
}

#myageprecise {
	margin-left: 8px;
  	font-size: 4.8rem;
}

#snakes {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 1.0;
	filter: blur(10px);
}

#backgroundcolor {
	opacity: 0.37;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0; 
}